.dyt.button {
    direction: ltr;
    border: none;
    background-color: transparent;
    color: inherit;
    text-align: center;
    font-size: 100%;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: inherit;
    outline: 0;
    opacity: .9;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    padding: 0px 8px;
}

.rotate{
    transform: rotate(180deg);
}